/* Header Styles */
header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 0.60em;
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 0.60em;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding-top: 0.10em;
}

/* Name Styles */
.name {
    font-family: "Jolly Lodger", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2.75em;
}

/* About Section Styles */
.about-name {
    font-size: 4em;
}

.about-description {
    font-size: 1.50em;
}

/* List Styles */
ul {
    display: flex;
    list-style-type: none;
}

li {
    margin-right: 20px;
}

/* Body Styles */
body {
    background-color: #191c29;
    color: white;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Article and Section Styles */
article {
    margin-left: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

section {
    margin-bottom: 2em;
    margin-top: 2em;
}

div h4 {
    font-weight: bold;
    font-size: 2em;
    padding-bottom: 1em;
}

section p {
    padding-top: 0.75em;
}

/* Miscellaneous Styles */
h4, svg {
    display: inline;
}

img {
    max-width: 30em;
    max-height: 30em;
}

aside h4{
    font-size: 1.2em;
}

aside p {
    color:rgb(103, 105, 109)
}

/* Container Styles */
.container p {
    font-size: 1.25em;
}

.container {
    background-color: rgb(21, 24, 21); 
    padding: 40px;
    border-radius: 10px; 
    margin: 4em auto;
    width: 100%;
    max-width: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

/* Form Styles */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Input Styles */
input[type="text"],
textarea {
    width: calc(100% - 4em); /* Full width minus padding */
    padding: 0.72em;
    margin-bottom: 1em;
    border: 1px solid #3B3B3B;
    border-radius: 1em;
    background-color: #333;
    color: white;
}

/* Button Styles */
.button-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

#clearButton,
#previewButton,
input[type="submit"] {
    padding: 0.72em 1em;
    padding-right: 3em;
    padding-left: 3em;
    border-radius: 1.5em;
    background-color: #0068fa;
    color: white;
    border: none;
    cursor: pointer;
    max-width: 150px;
    flex: 1 0 auto; /* Flex grow is 1, flex shrink is 0, and basis is auto */
    margin: 5px;
}

#clearButton:hover,
#previewButton:hover,
input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Adjustments for focus state to match theme */
input[type="text"]:focus,
textarea:focus,
#previewButton:focus, 
input[type="submit"]:focus {
    outline: none;
    border-color: #007bff;
}

textarea {
    min-height: 150px; 
    resize: vertical;
}


textarea:focus {
    outline: none;
    border-color: #007bff;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Footer Styles */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

footer p {
    padding-top: 1.6em;
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 1em;
    font-weight: 700;
}

.highlight {
    border: 2px solid red !important;
    background-color: #FFEEEE !important; 
    color: black !important;
}
