/* Header Styles */
header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 0.60em;
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 0.60em;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding-top: 0.10em;
}

/* Name Styles */
.name {
    font-family: "Jolly Lodger", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2.75em;
}

/* About Section Styles */
.about-name {
    font-size: 4em;
}

.about-description {
    font-size: 1.50em;
}

/* List Styles */
ul {
    display: flex;
    list-style-type: none;
}

li {
    margin-right: 20px;
}

/* Body Styles */
body {
    background-color: #191c29;
    color: white;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

section {
    margin-bottom: 2em;
    margin-top: 2em;
}

section h4 {
    font-weight: bold;
    font-size: 2em;
}

section h5 {
    font-weight: bold;
    font-size: 1.40em;
}

.date-align {
    text-align: right;
}

section p {
    padding-top: 0.65em;
    font-style: italic;
}

/* Miscellaneous Styles */
h4, svg {
    display: inline;
}

img {
    max-width: 30em;
    max-height: 30em;
}

/* Container Styles */
.container p {
    font-size: 1.25em;
}


/* Footer Styles */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

footer p {
    padding-top: 1.6em;
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 1em;
    font-weight: 700;
}

.add-post-button {
    padding: 10px 20px;
    background-color: #33b249; 
    color: white; 
    text-decoration: none; 
    font-size: 16px;
    border: none;
    border-radius: 0.75em; 
    cursor: pointer; 
    transition: background-color 0.3s;
    text-align: right;
    margin-right: 2em;
    margin-left: 10px; 

}

.add-post-button:hover {
    background-color: #45a049;

.edit-confirm-container {
    display: flex;
    justify-content: flex-end;
}

/* Container Styles */
.container {
    background-color: rgb(21, 24, 21);
    padding: 3.5em; 
    margin: 0 auto;  
    border-radius: 1.75em;
    width: 80%; 
}

/* Article and Section Styles */
article {
    margin: 2em auto;  
    padding: 0 2em;  
    max-width: 1200px;
}

.blog-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
}